<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
    function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색 결과 선택 시 실행될 함수
                document.getElementById('address').value = data.roadAddress; // 입력란에 도로명주소 채우기
            }
        }).open();
    }
    </script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>프로필 수정</h1>
            <form method="post" th:object="${account}" th:action="@{/profile/edit}">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" readonly>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                </div>

                <div class="form-group">
                    <label for="address">주소:</label>
                    <input class="form-control" type="text" id="address" name="address" th:field="*{address}">
                    <button type="button" class="btn btn-secondary" onclick="searchAddress()">검색</button>
                </div>
                <button type="submit" class="btn btn-primary">수정 완료</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
