<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부트스트랩 메인 페이지</title>
    <!-- 부트스트랩 CDN 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

<header>
    <div class="navbar-wrapper">
        <div th:replace="partials/navbar :: navbarFragment"></div>
    </div>
</header>
<section class="jumbotron text-center">
    <h1 class="display-4" ><span th:text="${#authentication.name}"></span>님 환영합니다!</h1>
    <p class="lead">몰?루</p>
    <form action="#" th:action="@{/logout}" method="post">
        <button class="btn btn-primary">로그아웃</button>
    </form>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>쿠폰 발급 하기</h2>
            <form method="post" th:action="@{/redis-data}">
                <button type="submit">발급해보자</button>
            </form>
        </div>
        <div class="col-md-4">
            <h2>기능 2</h2>
            <p>기능 2에 대한 설명</p>
        </div>
        <div class="col-md-4">
            <h2>기능 3</h2>
            <p>기능 3에 대한 설명</p>
        </div>
    </div>
</div>
<footer>
    <div th:replace="partials/footer :: footer"></div>
</footer>

<!-- Bootstrap CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>